body{    
    background-color: lightblue;
}

.modal {
    background: white;
    width: 350px;
    border: 1px solid black;
    margin: auto;
}

.modal-header {
    padding: 20px;
    border-bottom: 1px solid black;
}

.modal-main {
    padding: 20px
}

.modal-footer {
    border-top: 1px solid black;
    padding: 20px;
    text-align: right;
}

.btn {
    color: lightgreen;
    font-weight: bold;
    border: 1px solid lightgreen;
    background-color: green;
    padding: 7px 20px;
}
